@using DoAn_DatMonTrucTuyen.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/DinhDang.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="header">
            <div class="container">
        <div class="row" style="margin-bottom:5px" >
            <div class="col-md-3">
                <a href="@Url.Action("TrangChu","Home")"><img src="~/Content/HinhAnh/LoGoWeb.png" style="width:100% ;height:100%"/></a>
            </div>
            <div class="col-md-6">
                    <form class="form-inline" style="padding-top:25px" action="/Home/KetQuaTimKiem" method="post">
                        <input type="text" name="txtTK" placeholder="Nhập món bạn cần tìm" style="width:75%;height:50px;border-radius:5px" />
                        <input type="submit" value="Tìm Kiếm" style="width:15%;height:50px;border-radius:5px"/>
                    </form>
            </div>
            <div class="col-md-3" style="top:20px;">
                @Html.Action("khoitao","Home")
            </div>
        </div>
                </div>
       </div>
    <div class="main"> 
    <div class="container-main">
        <div class="row" style="background-color:white">
            <ul class="nav nav-tabs w-100">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("TrangChu","Home")">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("TrangChu","Home")">Về Chúng Tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("DSCuaHang","CuaHang")">Gian hàng của bạn</a>
                </li>
            </ul>
        </div>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-2 w-100" style="padding-left:0">
                @Html.Action("DanhMuc","Home")
            </div>
            <div class="col-md-10" style="padding-left:5px;padding-right:0" >
                @RenderBody()
            </div>
        </div>
        <div class="row" style="background-color:white">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <p>Trần Tấn Hiếu - 2001181113</p>
                <p>909/6 Trường Chinh, Tây Thạnh, Tân Phú, TP.Hồ Chí Minh</p>
            </div>
            <div class="col-md-4">
                <p>Trần Tấn Hiếu - 2001181113</p>
                <p>909/6 Trường Chinh, Tây Thạnh, Tân Phú, TP.Hồ Chí Minh</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
</body>
</html>
